
.main 
{
	font-size: calc(1.5vw + 1.5vh + 1vmin);
	overflow: hidden;
}


.teamList
{
	font-size: calc(1.5vw + 1.5vh + 1vmin);
	overflow: hidden;
}

.label-default
{


	float:right;
}

.playerRow
{

	font-size: 15px;
}

#main .list-group-item:focus
{
	outline: none;
}

#main .div{

	outline: none;
	background-color: red;
}
}
.a:focus { outline: none }