p {

	font-size: 28px;
}

.main 
{
	font-size: calc(1.5vw + 1.5vh + 1vmin);
	overflow: hidden;
}


.teamList
{
	font-size: calc(1.5vw + 1.5vh + 1vmin);
	overflow: hidden;
}

.label-default
{


	float:right;
}

.playerRow
{

	font-size: 15px;
}


